/* h1 {
  font-size: 30px;
  color: yellow;
} */

/* CSS untuk screen dibawah atau sama dengan 600px */
@media (max-width: 600px) {
  /* h1 {
    font-size: 10px;
    color: blue;
  } */
  .card {
    width: 100%;
    display: block;
    text-align: justify;
  }
  .card img {
    width: 100px;
    /* object-fit: cover; */
  }
}

/* Media query Dua kondisi */
@media (orientation: landscape) and (max-width: 800px) {
  /* h1 {
    color: red;
  } */
}

.left-section {
  float: left;
}

.card img {
  object-fit: fill;
}

.right-section {
  float: right;
}

.right-section img {
  object-fit: cover;
}
